In [33]:
import pandas as pd

In [34]:
# Create a simple DataFrame
df = pd.DataFrame({
    'name': ['John', 'Anna', 'Peter', 'Linda'],
    'location': ['New York', 'Paris', 'Berlin', 'London'],
    'age': [24, 13, 53, 33]}, index=['a', 'b', 'c', 'd'])
df

    name  location  age
a   John  New York   24
b   Anna     Paris   13
c  Peter    Berlin   53
d  Linda    London   33

In [35]:
df.loc[['a', 'b']]

   name  location  age
a  John  New York   24
b  Anna     Paris   13

In [36]:
df.loc['a', 'name']

'John'

In [37]:
df.loc['a':'c', 'name']

a     John
b     Anna
c    Peter
Name: name, dtype: object

In [38]:
df.loc[[True, False, True, False]]

    name  location  age
a   John  New York   24
c  Peter    Berlin   53

In [39]:
df.dtypes

name        object
location    object
age          int64
dtype: object