In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame({'name': ['John', 'Paul', 'George', 'Ringo'],
                   'age': [22, 21, 23, 22],
                   'instrument': ['guitar', 'bass', 'guitar', 'drums']})
df

     name  age instrument
0    John   22     guitar
1    Paul   21       bass
2  George   23     guitar
3   Ringo   22      drums

In [3]:
df.iloc[0]

name            John
age               22
instrument    guitar
Name: 0, dtype: object

In [4]:
df.iloc[0, 1]

22

In [5]:
df.iloc[0:2, 1:3]

   age instrument
0   22     guitar
1   21       bass

In [8]:
v1 = df.iloc[:,:-1].values
print(type(v1))
print(v1)

<class 'numpy.ndarray'>
[['John' 22]
 ['Paul' 21]
 ['George' 23]
 ['Ringo' 22]]